.widget-bg {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.side-user .side-menu li a {
    padding: 0 1.15385em 0 0.84615em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #0066cc;
}
a:hover {
    color: #004d9a;
}
.img-circle {
    border-radius: 50% !important;
}
.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.bootstrap-select .dropdown-menu a[aria-selected="true"] {
    background: #0063cf !important;
}